# Dependencies
node_modules/

# Playwright specific
/test-results/
/playwright-report/
/playwright/.cache/
/temp_codegen/

# Environment variables and sensitive data
.env
credentials.json

# OS specific
.DS_Store

# Logs
*.log
logs/
npm-debug.log*

# Build output
/dist/
/build/

# Coverage reports
/coverage/
